<div id="accordion">
    {% for emustudio in site.data.downloads.downloads %}

    <div id="version{{ emustudio.versionid }}" class="collapse {% if forloop.first == true %}show{% endif %}"
         data-parent="#accordion">
        {% for download in emustudio.downloads %}
        <a href="{{ download.href }}" class="btn btn-info btn-lg mr-3" onclick="gtag('event', 'download', { event_category: '{{ emustudio.version }}', event_action: '{{ download.filename }}'});">
            {% for glyph in download.glyphs %}
            <i class="fab {{ glyph }}"></i>
            {% endfor %}
            {{ download.filename }}
        </a>
        {% endfor %}
        <p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Released {{ emustudio.release.date }}</li>
            <li class="list-group-item"><i class="fab fa-java fa-2x mr-2"></i><a href="{{ emustudio.java.href }}" target="_blank">{{ emustudio.java.name }}</a></li>

            {% if emustudio.release.href != '' %}
            <li class="list-group-item">See the <a href="{{ emustudio.release.href }}" target="_blank" onclick="gtag('event', 'release_notes', { event_category: '{{ emustudio.version }}', event_action: ''});">release notes</a></li>
            {% endif %}
        </ul>
        </p>
    </div>
    {% endfor %}
</div>

<hr/>
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Or select another version...
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for emustudio in site.data.downloads.downloads %}
        <a class="dropdown-item" href="#" data-target="#version{{ emustudio.versionid }}" data-toggle="collapse">
            {{ emustudio.version }}{% if forloop.first == true %} (latest){% endif %}
        </a>
        {% endfor %}
    </div>
    <span>Documentation of older versions is available in particular bundles.</span>
</div>

<script type="text/javascript">
// the current open accordion will not be able to close itself
$('[data-toggle="collapse"]').on('click',function(e){
    if ( $(this).parents('#accordion').find('.collapse.show') ){
        var idx = $(this).index('[data-toggle="collapse"]');
        if (idx == $('.collapse.show').index('.collapse')) {
            e.stopPropagation();
        }
    }
});
</script>
