<footer class="site-footer">
    <div class="container">
        <nav class="navbar">
            <div class="container">
                <ul class="nav navbar-nav">


                    <li>
                        <a href="https://github.com/emustudio" rel="nofollow">
                            <span style="background-color:white; padding:3px ">{% octicon logo-github height:16 %}</span>
                        </a>
                    </li>
                    <li class="navbar-text">&copy; Copyright 2006-2020, Peter Jakubčo</li>
                </ul>
            </div>
        </nav>
    </div>
</footer>

</body>
</html>
