<footer class="site-footer font-small cyan darken-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5 pb-3">
                <div class="mb-3 flex-center">
                    <a href="https://github.com/emustudio/emustudio.github.io" rel="nofollow" target="_blank">
                        <i class="fa fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 pt-5 pb-3">
                <p class="text-right">
                    &copy; 2006-2023 Copyright, <span class="font-weight-bold">Peter Jakubčo</span>
                </p>
            </div>
        </div>
    </div>

</footer>

</body>
</html>
