{% for screenshot in site.data.screenshots.screenshots %}

<h3>{{ screenshot.title }}</h3>

<div class="container mb-4">
    <div class="row">
        <div class="col-lg-4">
            <a class="thumbnail" data-toggle="modal" href="#modal{{ screenshot.id }}">
                <img alt="{{ screenshot.alt }}" src="{{ screenshot.thumbnail }}" style="width:300px">
            </a>
        </div>
        <div class="col">{{ screenshot.html }}</div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="modal{{ screenshot.id }}Title" class="modal fade" id="modal{{ screenshot.id }}"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal{{ screenshot.id }}Title">{{ screenshot.title }}</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img alt="{{ screenshot.alt }}" src="{{ screenshot.image }}">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}
